*{
    margin: 0;
    font-family: Arial;
    border: border-box;
    font-weight: 500;
    font-size: 80px;
    align-items: center;
    margin-left: 20px;
    margin-top: 40px;
    background-color: rgb(189, 189, 66);
}
.index-name{
    border: 10px solid black;
    text-align: center;
}
#month-name th{
    border: 5px solid black;   
}